.wid-30{
    width: 30%;
}

.mr-20{
    margin-right: 20px;
}

.mt-20{
    margin-top: 20px;
}

svg{
    padding-top: 2px;
    width: 24px;

    &:hover{
        cursor: pointer;
    }
}

.mr-10{
    margin-right: 10px;
}