.wrapper-body {
    position: relative;
    border: 2px solid #000;
    height: 400px;
    .component-1 {
        position: absolute;
        left: 0px;
        top: 0px;
        max-width: 350px;
        word-wrap: break-word;
        background-color: #000;
        color: #fff;
        padding: 10px;
    }
    .component-2 {
        position: absolute;
        right: 0px;
        top: 0px;
        max-width: 350px;
        word-wrap: break-word;
        background-color: #000;
        color: #fff;
        padding: 10px;
    }
    .component-3 {
        position: absolute;
        bottom: 0px;
        left: 0px;
        max-width: 350px;
        word-wrap: break-word;
        background-color: #000;
        color: #fff;
        padding: 10px;
    }
    .component-4 {
        position: absolute;
        bottom: 0px;
        max-width: 350px;
        word-wrap: break-word;
        right: 0px;
        background-color: #000;
        color: #fff;
        padding: 10px;
    }
    .component-center {
        position: absolute;
        left: 40%;
        top: 40%;
    }
}
